<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        @* --------navbar------ *@
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home |</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/projects">Projects | </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
        @* -------Header-------- *@
        <h1 class="text-center"> About Me</h1>
        @* -------Image and Description Container-------- *@
        <div class="row m-7">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/profile.png" class="card-img-top" alt="profile">
                    <div class="card-body">
                        <h5 class="card-title">Profile II</h5>
                        <p class="card-text">I love coding</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, esse hic, minus libero, aperiam cumque consequatur similique id nisi labore quaerat deserunt recusandae laborum quidem. Maiores, voluptatem perspiciatis. Inventore, optio!</p>
            </div>
        </div>
    </div>
</body>
</html>