<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

</head>
<body>
<div class="container">
        @* --------navbar------ *@
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home |</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/projects">Projects | </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
        @* -------Header-------- *@
        <h1 class="text-center"> My Projects</h1>
        @* -------Projects Container-------- *@
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/project3.jpeg" class="card-img-top" alt="profile">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores suscipit veniam dignissimos iste id est eos esse, qui fugit dolor ea nisi debitis in voluptate amet minus sapiente alias nemo?</p>

                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/project3.jpeg" class="card-img-top" alt="profile">
                    <div class="card-body">
                        <h5 class="card-title">Project 2 </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores suscipit veniam dignissimos iste id est eos esse, qui fugit dolor ea nisi debitis in voluptate amet minus sapiente alias nemo?</p>

                    </div>
                </div>
            </div> 
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/project3.jpeg" class="card-img-top" alt="profile">
                    <div class="card-body">
                        <h5 class="card-title">Project 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores suscipit veniam dignissimos iste id est eos esse, qui fugit dolor ea nisi debitis in voluptate amet minus sapiente alias nemo?</p>
                    </div>
                </div>
            </div>           
 
        </div>
    </div>
</body>
</html>